*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color:#317cd9 ;
}

:root{
    --font-size-head:clamp(2em ,1vw ,9em);
    --font-size-subhead:clamp(1em ,1vw ,8em);
    --font-size-para:clamp(0.6em, 1vw, 7em);
    --font-color-white:white;

}

.font_color_white{
    color: var(--font-color-white);
}

.font_color_orange{
    color:#d98d30;
  }
  

.bg_color_orange{
    background-color: #d98d30;
    border-color:#d98d30;
}

.bg_color_white{
   background-color: white;
   border-color: white;
}

.margin_left_30{
    
    margin-left: 30%;
    width: 50%;
    cursor: pointer;
    
 }

.margin_top_5{
    margin-top: 5%;
}

.margin_top_2{
    margin-top:2%;
}

.margin_top_30{
    margin-top:30%;
}

.margin_left_40{
    margin-left: 40%;
    width: 30%;
    display: block;
    
}

.padding_tb_2_lr_5{
    padding:2% 5%;
}

.border_radius_15{
    border-radius: 15px;
}

.para{
    font-size: var(--font-size-para);
    
}



/*.top{
    margin-top: 1%;
    color: white;
    
}

.form{
    display: inline-block;
   
}
.winnion_head{
    display:inline ;
    margin-left: 5%;
   
}



.searchform{
    
	margin-left:2%;
	margin-right:2%;
	}
.search{
	border:1px solid #ffffff00;
	height:38px;
	outline: none;
	margin-top:4px;
	margin-left:20px;
   
	font-size:16px;
    
 
   }

.icon{
	color:black;
	margin-left:15px;
   
    
}
.search-box{

    margin-right: 10%;
	border:1px solid #DCDCDC;
    height:46px;
	border-radius:10px;
    width: 20%;
    
	
}

.submit{
	
	height:35px;
	border:0px solid #DCDCDC;
        border-radius:5px;
	font: 14px Arial, sans-serif;
	padding-left:2px;
	color:#404040;
	
 
}


.submit:hover{
	border:1px solid #A9A9A9;
	cursor:pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
*/
  

 .heading_1{
   font-size: var(--font-size-head);
   letter-spacing: 1px;
   color:var(--font-color-white);
   font-weight:bold;
 }



 .stats_buttons{
    padding:2% 4%;
    margin: 0 2%;
    font-size: 20px;
    
    cursor: pointer;
 }

 .relative-section{
    position:relative;
}



.relative-section{
    position:relative;
}

.absolute-text{
    
    position: absolute;
    top:2%;
    color:white;
    left:12%;
    font-size: var(--font-size-head);
    
    
    
}

.image_opacity{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    
}

.features{
    display: flex;
    margin-left: 9%;
    

}

.features_sections{
    
    width:20%;
    border:1px solid black;
    background-color: black;
    text-align: center;
    margin-left: 1%;
    height: 40%;
  
}
